/conf/*.crt
/conf/*.key
/conf/*.ca
/conf/*.csr
/conf/*.p12
/conf/*.keystore
/logs
/project/project
/project/target
/public
/target
/test/logs
/tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.DS_Store