# Certificates
/conf/certs/*
*.crt
*.key
*.ca
*.csr
*.p12
*.keystore

# IntelliJ
/.idea
/*.iml

/logs
/project/project
/project/target
/public
/target
/test/logs
/tmp
.history
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.DS_Store