<header>
    <h1>{{heading}}</h1>
</header>

<div id="lower-content" ng-controller="DirectoryListingCtrl">

    <div id="left-panel">Music player to go here</div>

    <div id="listing-menu">

        <div class="empty-listing-placeholder" ng-if="!(listing | filter:query).length" style="visibility:{{placeholderVisibility}};">Nothing here...</div>

        <div ng-repeat="item in listing | filter:query" class="directory" ng-click="navigate(item)">
            <div>{{item}}</div>
        </div>

    </div>

    <div id="right-panel">

        <div id="filter">
            <input placeholder="Filter" ng-model="query">
            <!--<div id="filter-icon">▼</div>-->
        </div>

        <button id="addDirectory" ng-click="addDirectory()">New Directory</button>
        <applaudio-modal show='showAddDirectoryModal' width="50%">
            <h4>Add Directory</h4>
            <button ng-click="hideModal()">Cancel</button>
        </applaudio-modal>

        <button id="uploadMusic" ng-click="uploadMusic()">Upload Music</button>

    </div>

</div>