<div ng-include="'components/message-bar/message-bar.html'"></div>
<div id="base" ng-controller="BaseCtrl as base">

    <header id="application-header">
        <applaudio-player></applaudio-player>
        <div id="current-directory">
            <div ng-repeat="pathElem in base.currentPathElements track by $index" class="inline"><span>/</span><a href="{{base.linkBackToDepth($index)}}">{{pathElem}}</a></div>
        </div>
    </header>

    <div id="lower-content" ng-controller="DirectoryListingCtrl as dl">

        <div id="left-panel">
            <div id="left-panel-inner"></div>
        </div>

        <div applaudio-scrollable id="listing-menu" >

            <div class="animate-list-item" ng-repeat="item in dl.listing | filter:query | orderBy:listingOrder" repeat-end="window.resizeApplication()">
                <applaudio-listing-item item="item"></applaudio-listing-item>
            </div>
            <div id="placeholder-holder"><!-- placeholder holder seems to prevent items skipping when placeholder becomes visible. -->
                <div class="empty-listing-placeholder" ng-if="!(dl.listing | filter:query).length" >Nothing here...</div>
            </div>
        </div>

        <div id="right-panel">

            <div id="filter">
                <input placeholder="Filter" ng-model="query">
            </div>

            <applaudio-ui-modal button-text="'Add Directory'">
                <add-directory-modal></add-directory-modal>
            </applaudio-ui-modal>

            <applaudio-ui-modal ng-class="{disabled: directoryIsEmpty()}" button-text="'Upload Music'">
                <upload-modal></upload-modal>
            </applaudio-ui-modal>

            <a class=button href="{{downloadAllUrl}}" ng-class="{disabled: directoryIsEmpty()}" ng-click="verifyDownloadAction($event)">Download All</a>


        </div>

    </div>

</div>