<div id="base" ng-controller="BaseCtrl as base">

    <header id="application-header">
        <h1>
            <!-- This is ridiculous but the below muse all be on the same line, or extra whitespace will be appended to the end of each link... -->
            <div ng-repeat="pathElem in base.currentPathElements track by $index" class="inline"><span>/</span><a href="{{base.linkBackToDepth($index)}}">{{pathElem}}</a></div>
        </h1>
    </header>

    <div id="lower-content" ng-controller="DirectoryListingCtrl as dl">

        <div id="left-panel">Music player to go here</div>

        <div applaudio-scrollable id="listing-menu" >

            <div ng-repeat="item in dl.listing | filter:query" class="directory" repeat-end="window.resizeApplication()" ng-click="dl.navigate(item)">
                <div id="directory_{{htmlify(item)}}">{{item}}</div>
            </div>
            <div id="placeholder-holder"><!-- placeholder holder seems to prevent items skipping when placeholder becomes visible. -->
                <div class="empty-listing-placeholder" ng-if="!(dl.listing | filter:query).length" style="visibility:{{dl.placeholderVisibility}};">Nothing here...</div>
            </div>
        </div>

        <div id="right-panel">

            <div id="filter">
                <input placeholder="Filter" ng-model="query">
                <!--<div id="filter-icon">▼</div>-->
            </div>

            <button class="with-icon" ng-click="dl.addDirectory()" icon="images/folder.png">
                <img ng-src="images/folder.png"/>New Directory
            </button>

            <button ng-click="dl.uploadMusic()">Upload Music</button>

        </div>

    </div>

    <div ng-show="modal.show">
        <div class="modal-background" ng-click="modal.cancel()"></div>
        <div id="modal-container">

            <h1>{{modal.heading}}</h1>

            <div ng-show="modal.showTextInput">
                <div class="tag">{{modal.textInputTag}}</div>
                <input type="text" ng-model="modal.textInput" placeholder="{{modal.textInputPlaceholder}}" >
            </div>
            <div ng-show="modal.showFileInput">
                <input id="modal-file-input" type="file" multiple onchange="angular.element(this).scope().modal.readUploadFiles()" hidden>
                <button ng-click="modal.clickFileInput()">Choose Files</button>
                <div id="upload-list" applaudio-scrollable>
                    <p ng-repeat="uploadFile in modal.uploadFiles">{{uploadFile.name}}</p>
                </div>
            </div>

            <button class="dismissive" ng-click="modal.hide()">{{modal.cancelText}}</button>
            <button class="dismissive" ng-show="modal.showConfirm" ng-click="modal.confirm()">{{modal.confirmText}}</button>

        </div>

    </div>

</div>