$verdana: 28px Verdana;
$borderSize: 2px;
$background: #000000;
$foreground: #FFFFFF;
$pad: 10px;
$listItemHeight: 40px;

@keyframes addToList {
    0% {
        height: 0px;
        opacity: 0;
    }
    100%{
        height: $listItemHeight + 2 * $pad;
        opacity: 1;
    }
}

@keyframes removeFromList {
    0% {
        height: $listItemHeight + 2 * $pad;
        opacity: 1;
    }
    100%{
        height: 0px;
        opacity: 0;
    }
}

@keyframes delayVisibility {
    0% {
        height: 0px;
        opacity: 0;
    }
    50% {
        height: 0px;
        opacity: 0;
    }
    100%{
        height: $listItemHeight;
        opacity: 1;
    }
}



html, body, div#container , div#base{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.inline {
    display: inline;
}

a {
    color: $foreground;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
    &:active {
        text-decoration: underline;
    }
}
