@import "globals";

@import "button";
@import "text-input";

@import "modal";
@import "scrollable";

@import "404";

body {

    background-color: $background;
    font: $verdana;
    color: $foreground;
    overflow: hidden;

    header {
        h1 {
            margin: 0;
            padding: $pad;

            a, span {
                margin: 0;
                padding: 0;
            }
        }
    }

    #lower-content {
        padding: $pad;

        #left-panel {
            width: 20%;
            height: 1px; // height is defined by lower-content height, but having initial height of 1, ensures this element doesn't *exceed* the lower-content height.
            padding: $pad;
            border: $borderSize solid;
            display: table-cell;
        }

        #listing-menu {
            height: inherit;
            display: table-cell;
            padding-left: $pad;
            padding-right: $pad;
            position: relative;

            .scrollable {
                padding-bottom: $pad;

                .directory {
                    height: $listItemHeight; // declare height so it will match animation height.
                    margin-bottom: -$borderSize; // Allow borders above and below to overlap when this item is repeated.
                    padding: $pad;
                    border: $borderSize solid;
                    background-color: $background;
                    transition: background-color 200ms linear;

                    &:hover {
                        transition: background-color 0ms linear;
                        background-color: #333333;
                    }

                    &:active {
                        background-color: #999999;
                    }

                    a {
                        color: #FFFFFF;
                        margin: 10px;
                    }

                }

                .directory.ng-enter {
                    animation: 500ms addToList;
                }
                .directory.ng-leave {
                    animation: 500ms removeFromList;
                }

                .empty-listing-placeholder {
                    padding: $pad;
                }
                .empty-listing-placeholder.ng-enter {
                    opacity:0;
                    animation: 1000ms delayVisibility;
                }
                .empty-listing-placeholder.ng-enter-active {
                    opacity:1;
                }
            }

        }

        #right-panel {
            width: 20%;
            height: inherit;
            display: table-cell;

            position: relative;
        }
    }
}
