@import "styles/globals";

@import "styles/button";
@import "styles/text-input";

@import "styles/404";

@import "ui/scrollable/scrollable";
@import "ui/progress-bar/progress-bar";
@import "ui/modal/modal";

@import "components/directory-listing/upload-modal/upload-modal";
@import "components/directory-listing/add-directory-modal/add-directory-modal";

body {

    background-color: $background;
    font: $verdana;
    color: $foreground;
    overflow: hidden;

    header {
        h1 {
            margin: 0;
            padding: $pad;

            a, span {
                margin: 0;
                padding: 0;
            }
        }
    }

    #lower-content {
        padding: $pad;

        #left-panel {
            width: 20%;
            height: 1px; // height is defined by lower-content height, but having initial height of 1, ensures this element doesn't *exceed* the lower-content height.
            padding: $pad;
            border: $borderSize solid;
            display: table-cell;
        }

        #listing-menu {
            height: inherit;
            display: table-cell;
            padding-left: $pad;
            padding-right: $pad;
            position: relative;

            .scrollable {
                padding-bottom: $pad;

                @import "components/directory-listing/listing-item/listing-item";

                .animate-list-item.ng-enter {
                    animation: 500ms addToList;
                }

                .animate-list-item.ng-leave {
                    animation: 500ms removeFromList;
                }

                .empty-listing-placeholder {
                    padding: $pad;
                }
                .empty-listing-placeholder.ng-enter {
                    opacity:0;
                    animation: 1000ms delayVisibility;
                }
                .empty-listing-placeholder.ng-enter-active {
                    opacity:1;
                }
            }

        }

        #right-panel {
            width: 20%;
            height: inherit;
            display: table-cell;

            position: relative;
        }
    }
}
